@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body {
    color: white;
    font-family: 'Lato', sans-serif;
    transition: all .3s;
    font-size: 1.3rem;
    overflow: hidden;
}

.description {
    position: absolute;
    top: 2.5rem;
    left: 46.5%;
    
}

.overlay {
    position: relative;
    width: 350px;
    height: 152px;
}

.bg {
    padding: 1rem;
    vertical-align: middle;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    margin: 1px;
}

.wind-arrow {
    transition: .3s;
}

